/* App.css */
.ag-theme-alpine {
    height: 300px;
    width: 100%;
  }
  
  .ag-theme-alpine .ag-root-wrapper {
    border: 1px solid #bdc1c6;
  }
  
  .ag-theme-alpine .ag-header {
    background-color: #f4f5f7;
  }
  
  .ag-theme-alpine .ag-header-cell {
    border-bottom: 1px solid #bdc1c6;
  }
  
  .ag-theme-alpine .ag-cell {
    border-bottom: 1px solid #bdc1c6;
  }
  
  .ag-theme-alpine .ag-header-cell-label .ag-header-cell-text {
    font-weight: bold;
  }
  
  .ag-theme-alpine .ag-body-viewport {
    overflow-y: auto !important;
  }
  
  .ag-theme-alpine .ag-pinned-left-cols-container, 
  .ag-theme-alpine .ag-pinned-right-cols-container {
    box-shadow: none !important;
  }
  